<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Database connection</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="dbType" class="col-sm-2 control-label">Database type</label>
                <div class="col-sm-10">
                    <select id="dbType" class="form-control">
                        <option>MySQL</option>
                        <option>Postgres</option>
                     </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hostname</label>
                <div class="col-sm-10">
                    <input id="hostname" type="text" class="form-control"></input>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">port</label>
                <div class="col-sm-10">
                    <input id="port" type="number" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Database</label>
                <div class="col-sm-10">
                    <input id="databaseName" type="text" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input id="username" type="text" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input id="password" type="password" class="form-control"></input>
                </div>
            </div>
            <button type="submit" class="button button-primary form-control">Set connection</button>

        </form>
    </div>
</div>